<!doctype html>
<html lang="es" data-theme="dark">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Restablecer contraseña</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}" />
</head>
<body>

  <h2>Restablecer contraseña</h2>
  <form method="POST" action="{{ url_for('auth.reset_password', token=request.view_args.token) }}">
    {{ form.hidden_tag() }}
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}<br>
      {% for error in form.password.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </p>
    <p>
      {{ form.confirm_password.label }}<br>
      {{ form.confirm_password(size=32) }}<br>
      {% for error in form.confirm_password.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>

  <a href="{{ url_for('auth.login') }}" class="link-btn" style="display:block; margin-top: 10px;">
    Volver a iniciar sesión
  </a>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
