<!doctype html>
<html lang="es" data-theme="dark">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Solicitar restablecimiento de contraseña</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}" />
</head>
<body>

  <h2>Solicitar restablecimiento de contraseña</h2>
  <form method="POST" action="{{ url_for('auth.reset_password_request') }}">
    {{ form.hidden_tag() }}
    <p>
      {{ form.email.label }}<br>
      {{ form.email(size=32) }}<br>
      {% for error in form.email.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </p>
    <p>{{ form.submit(class_="btn") }}</p>
  </form>

  <a href="{{ url_for('auth.login') }}" class="link-btn" style="display:block; margin-top: 10px;">
    Volver a iniciar sesión
  </a>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
